node_modules/
.expo/*
.tmp
.vscode
.jest/
npm-debug.*

yarn\.lock
lint
coverage

ios/build/Build/
ios/build/Index/
ios/build/Logs/
ios/build/ModuleCache.noindex/
ios/build/SourcePackages/


android/app/build/*
android/.gradle/*

.DS_Store

android/app/google-private-key.json
